node_modules
dist
.next
.turbo
coverage
package-lock.json
docs
database
apps/api/prisma/migrations
**/*.generated.ts
.husky
.qodo
.github/modernize
apps/mobile

next-env.d.ts

playwright-report
test-results
